*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	margin-left: 200px;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	// flex-direction: column;
	// height: 100vh;
}
#item {
	width: 100px;
	height: 100px;
	background-color: red;
	border: 1px solid #000;
	position: relative;
}

.col-resize{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 3px;
}
.col-resize-h{
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 3px;
}
.col-resize-h:hover{
	background-color: #fff;
	cursor: s-resize;
}
.col-resize:hover{
	background-color: #fff;
	cursor: e-resize;
}
